/* stres.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #a8c686, #6b8e23);
    color: #f4f4f4;
}

header {
    background-color: #556b2f;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    background: rgba(85, 107, 47, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

main p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #eaf5d8;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #b8e994;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #a4de77;
}

footer {
    background-color: #556b2f;
    color: white;
    padding: 10px;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 50px;
    z-index: 10;
}

.button {
    padding: 10px 20px;
    font-size: 1.1em;
    text-decoration: none;
    background-color: #1f7f50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #40c785;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
